footer.footer
  .container
    .row
      .col-md-3
        h4.footer_red-text DREAMSHARE
      .col-md-3
        h5 Company
        .footer__paragraphs
          p About
          p Contact
          p Press
          p Blog
          p Terms and Privacy
          p Help
      .col-md-3
        h5 Partners
      .col-md-3
        .footer__designed