header.header
  .container
    .row
      .header__menu.d-flex
        .header__logo
          a(href='') DREAMSHARE
        .header__links.d-flex.text-center
          a.header__button.button(href='') Log in
          a.header__button.white-border.button(href='') Sign up
      .header__center
        h1 SHARE YOUR HOLIDAY DREAM
        h4 And find the perfect partner to fullfill it
        input.btn-radius.button.red-button(type='button' value='Find your holiday partner' id='')